html {
  max-width: 700px;
  margin: 10px auto;
  
  background: url("./noise.png") repeat scroll left top;
  background-color: #ffffff;
  font-family: sans-serif;
  font-size: medium;
  color: #444;
  line-height: 1.6;
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: 16px;
  margin-top: 8rem;
}

.visible {
  display: block !important;
}

.spaced {
  margin: auto 6px;
}

.nav-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none
}

.nav {
  display: flex;
  justify-content: center;
  position: sticky;
  width: 100vw;
  top: 0;
  background: url("./noise.png") repeat scroll left top;
  background-color: #ffffff;
}

.nav div {
  width: 700px;
  display: flex;
  align-items: flex-start;
  padding: 1rem 0;
  pointer-events: all;
}

h1 {
  font-size: medium;
  border-bottom: 1px #cfccba dashed;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

h2 {
  font-size: large;
  font-weight: 600;
  margin: 0;
  margin-right: auto;
}

main div {
  margin-bottom: 5rem;
}

.project {
  margin: 0;
  display: flex;
  align-items: flex-end;
}

.project em {
  margin-right: 20px;
}

pre {
  background: url("./noise.png") repeat scroll left top;
  background-color: #f4f4f4;
  padding: 1rem;
  overflow-x: scroll;
}

a {
  color: #457b9d;
  margin-top: 0.2rem;
  text-decoration: none;
}
a:visited {
  color:#457b9d;
}
a:hover {
  color: #e07a5f;
}

.subtle {
  color: #444;
}
.subtle:visited {
  color:#444;
}
.subtle:hover {
  color: #e07a5f;
}

a[href*='//']{
  text-decoration: underline !important;
}

@media only screen and (max-width: 900px) {
  .links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    right: 0;
  }

  .nav div {
    padding: 1rem;
    width: 700px;
    flex-direction: column;
  }
}