@font-face {
  font-family: Bold; /* set name */
  src: url("/Fonts/cmunrm.ttf"); /* url of the font */
}

@font-face {
  font-family: Regular; /* set name */
  src: url("/Fonts/cmunrm.ttf"); /* url of the font */
}

body {
    margin-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: Regular;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: Bold;
}