@font-face {
  font-family: Main;
  src: url("cmunbx.ttf");
}

@font-face {
  font-family: Bold;
  src: url("cmunbi.ttf");
}

html {
  max-width: 736px;
  margin: 10px auto;
  font-size: medium;
  background: url("./noise.png") repeat scroll left top;
  background-color: #fff;
  color: #666;
  line-height: 1.6;
  overflow-x: hidden;
}

body {
  height: 100%;
  padding: 16px;
  margin-top: 8rem;
  background: url("./noise.png") repeat scroll left top;
  background-color: #fff;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("./noise.png") repeat scroll left top;
  background-color: #027D9C;
}

.visible {
  display: block !important;
}

.spaced {
  margin: auto 6px;
}

.nav-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none
}

.nav {
  display: flex;
  justify-content: center;
  position: sticky;
  width: 100vw;
  top: 0;
  background: url("./noise.png") repeat scroll left top;
  background-color: #fff;
}

.nav div {
  width: 700px;
  display: flex;
  align-items: flex-start;
  padding: 1rem 0;
  pointer-events: all;
}

h1 {
  color: #444;
  font-size: large;
  font-family: Main;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e0e0e0;
}

h2 {
  color: #444;
  font-size: x-large;
  font-family: Bold;
  margin: 0;
  margin-right: auto;
}

main div {
  margin-bottom: 5rem;
}

.project a {
  margin-left: 20px;
}

pre {
  background: url("./noise.png") repeat scroll left top;
  background-color: #f4f4f4;
  padding: 1rem;
  overflow-x: scroll;
}

a {
  color: #458e9d;
  margin-top: 0.2rem;
  text-decoration: none;
}
a:visited {
  color:#458e9d;
}
a:hover {
  color: #FDDD04;
}

.subtle {
  color: #666;
}
.subtle:visited {
  color: #666;
}
.subtle:hover {
  color: #e07a5f;
}

a[href*='//']{
  text-decoration: underline !important;
}

@media only screen and (max-width: 900px) {
  .links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    right: 0;
  }

  .nav div {
    padding: 1rem;
    width: 700px;
    flex-direction: column;
  }
}