.icon {
    padding: 0;
    margin: 16px;
    width: 8px;
    height: 8px;
    scale: 4;
    image-rendering: pixelated;
    background-image: url("assets/tiles.png");
    outline: 0.5px solid black;
}

.icon:hover {
    outline: 0.5px solid white;
}

.selected {
    outline: 1px solid white !important;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    image-rendering: optimizeSpeed;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}